<mat-card class="card-home">
  <mat-toolbar color="primary">
    <h1> Bem vindo ao Conexão multi serviços </h1>
  </mat-toolbar>
  <section class="info">
    <h2>Aqui você pode encontrar um profissional ou registrar-se para se tornar um profissional</h2>
  </section>

  <div class="buttons">
    <button mat-raised-button (click)="onFindAllResumes()" color="primary">Procurar profissional</button>
    <button mat-raised-button (click)="onLogin()" color="primary">Login</button>
  </div>
</mat-card>

